* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    background: #000;
}

.parent {
    /* background-color: black; */
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.Card {
    background-color: white;
    height: 300px;
    width: 250px;
    border-radius: 50px;
    margin: 20px;
}

#logo {
    height: 45px;
    width: 45px;
    /* padding: 1.5em; */
    object-fit: cover;
    /* will-change: filter;
    transition: filter 300ms; */
    margin-left: -15px;
    margin-top: 18px;
    border: solid
    2px #000;
    border-radius: 50%;
}



#icon {
    font-size: 1em; 
}

#savebtn {
    color: 000;
    border: solid
    1px #000;
    padding: 1px 5px;
    border-radius: 5px;
    cursor: pointer;  
    margin-top: -8px;
    margin-left: 5px;
  }

.top {
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 25%;
    
}

.mid p{
  display: flex;
}

.mid{
  height: 45%;
  padding: 20px;
}

.btmcontainer {
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 30%;
}
#midicon h7{
   font-size: x-small;
   padding: 3px 2px;
   background-color: rgba(166, 166, 166, 0.849);
   color: white;
   margin: 2px;
   border-radius: 2px;
}

.mid h4 span{
    font-size: x-small;
    color: rgba(166, 166, 166, 0.849);
}

.btmcontainer p h7{
    font-size: small;
    color: rgba(166, 166, 166, 0.849);
}

.btmcontainer button{
    background-color: black;
    border: solid
    1px grey;
    color: white;
    padding: 3px 7px;
    border-radius: 5px;
    cursor: pointer;  
}