.header{
    background-color: bisque;
    padding: 20px;
    text-align: center;
}
.btn{
    background-color: rgb(236, 86, 199); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 1000px;
}