.btn{
    background-color: #4CAF50; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 4px;
    margin-left: 670px;
}