* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
html, body {
    height: 100%;
    width: 100%;
}
.Card {
    background: grey;
    /* color: antiquewhite; */
    border-radius: 10px;
    padding: 20px;
    margin: 10px
}
.Card:hover{
    background: black;
    color: white;
}
.navbar {
    background: black;
    color: white;
    padding: 20px;
    margin: 10px;
}
    